{% extends 'admin-side/base1.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Slug</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                      
                                       {% for cat in categories %}
                                        <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <td>{{cat.id}}</td>
                                            <td><b>{{cat.category_name}}</b></td>
                                            <td>{{cat.description}}</td>
                                            <td>{{cat.slug}}</td>
                                            <td class="text-end">
                                                    <a href="#" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i>
                                                        Edit
                                                    </a>

                                                    <a href="#" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i>
                                                        Enable
                                                    </a>

                                                    <a href="#" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i>
                                                        Disable
                                                    </a>
                                                        
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                                <div class="d-grid">
                                    <a class="btn btn-primary" href="{% url 'myapp:admn_add_categories' %}">Create category</a>
                                </div>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        {% endblock content %}
