{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="success-message">
    <div class="image-container">
        <img src="{% static 'assets/imgs/page/pass-reset-success-2.jpg' %}" alt="Success Image">
        <div class="overlay-text">
            <h2>Password Reset Successful</h2>
            <p>Your password has been successfully reset. You can now <a href="{% url 'login-page' %}">login</a> with your new password.</p>
        </div>
    </div>
</div>

<style>
    .success-message {
        text-align: center;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }

    .overlay-text h2,
    .overlay-text p {
        margin: 0;
        font-size: 1.5em;
    }

    .overlay-text .login-link {
        font-weight: bold; /* Make the login link bold */
        color: #007BFF; /* Set a color for the login link */
        text-decoration: none; /* Remove underline */
    }


    .success-message img {
        max-width: 100%; /* Make sure the image doesn't exceed its container */
        max-height: 300px; /* Set a maximum height for the image */
        display: block; /* Remove extra space below the image */
    }
</style>
{% endblock %}
